<!DOCTYPE html>
<html>
<head>
    <title>Simple Web App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
        function checkItem(value) {
            var otherItemInput = document.getElementById('otherItemInput');
            if (value === 'Other') {
                otherItemInput.style.display = 'inline';
            } else {
                otherItemInput.style.display = 'none';
            }
        }

        function checkAmount(value) {
            var otherAmountInput = document.getElementById('otherAmountInput');
            if (value === 'Other') {
                otherAmountInput.style.display = 'inline';
            } else {
                otherAmountInput.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Enter Data</h1>
        <form action="add-entry" method="POST" class="mt-4">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>

            <div class="form-group">
                <label for="item">Item:</label>
                <select class="form-control" id="item" name="item" onchange="checkItem(this.value)" required>
                    <option value="Idali">Idali</option>
                    <option value="Batata vada sambar">Batata vada sambar</option>
                    <option value="Medu vada sambar">Medu vada sambar</option>
                    <option value="Dosa">Dosa</option>
                    <option value="Masala dosa">Masala dosa</option>
                    <option value="Uttapa">Uttapa</option>
                    <option value="Misal Pav">Misal Pav</option>
                    <option value="Poha">Poha</option>
                    <option value="Upma">Upma</option>
                    <option value="Sabudana Khichdi">Sabudana Khichdi</option>
                    <option value="Tea">Tea</option>
                    <option value="Vada Pav">Vada Pav</option>
                    <option value="Bhajiya">Bhajiya</option>
                    <option value="Pav Bhaji">Pav Bhaji</option>
                    <option value="Samosa">Samosa</option>
                    <option value="Patis">Patis</option>
                    <option value="Idali">Idali</option>
                    <option value="Shabu. vada">Udid Wada Sambar</option>
                    <option value="Food">Food</option>
                    <option value="Other">Other</option>
                </select>
                <input type="text" class="form-control mt-2" id="otherItemInput" name="otherItem" style="display:none;" placeholder="Enter item">
            </div>

            <div class="form-group">
                <label for="amount">Amount:</label>
                <select class="form-control" id="amount" name="amount" onchange="checkAmount(this.value)" required>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                    <option value="150">150</option>
                    <option value="Other">Other</option>
                </select>
                <input type="number" class="form-control mt-2" id="otherAmountInput" name="otherAmount" style="display:none;" placeholder="Enter amount">
            </div>

            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="/view" class="btn btn-info">View Entries</a>
    </div>
</body>
</html>
